body,
#root,
#root > * {
    height: 100%;
}

.marker {
    text-align: center;
    width: 55px;
    height: 70px;
    cursor: pointer;
}

.marker p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: white;
    padding: 3px;
    font-size: 10px;
    text-align: center;
}

/* .marker.dropped {
} */

.marker.selected p {
    background-color: #55E6C1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-content {
    flex: 1;
}

.sidebar-footer {
    background-color: grey;
    margin: 0 -1rem -1rem -1rem;
    padding: 1rem;
}
